@import "@source/_variables.scss";

.errorPage {
  @include flexCenter(row);
  flex-wrap: wrap;
  & > span:nth-of-type(1) {
    font-weight: 900;
    font-size: 1.8em;
  }
  & > span:nth-of-type(2) {
    border-right: 1px solid color(primary);
    margin: 0 15px;
    height: 60px;
  }
  & > span:nth-of-type(3) {
    word-break: break-all;
  }
}

.emptypage {
  background-color: var(--pry);
  @include flexCenter(column);
  height: 100%;
  & > div {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 15%;
    width: 10%;
    min-width: 100px;
    min-height: 120px;
    max-width: 200px;
    max-height: 150px;
    margin-bottom: 10px;
  }
  & > span {
    text-align: center;
    font-weight: 900;
    font-size: 1.1em;
  }
}

.chooseHandle {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  background-color: var(--opp);
  opacity: 0.94;
  overflow-x: hidden;
  overflow-y: auto;
  @include flexCenter(column);
  padding: 10px;

  & > div {
    background-color: var(--pry);
    @include flexCenter(column);
    align-items: flex-start;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 480px;
    z-index: 5;
    & > * {
      margin: 7px 0;
    }
    & > button {
      align-self: flex-end;
    }
  }
}

// border: 3px solid red;
