#dependencies
node_modules/

#next.js
/.next/
/out/

#production
build/
pages/api/crunch/upload/
pages/api/profile/upload/
#misc
.DS_Store
package-lock.json
next.config.js
.vscode/
report.*
.log


#debug
npm-debug.log*

#local env files
/*.env


