@import "@source/_variables.scss";

.crunches {
  @include flexCenter(row);
  align-items: flex-start;
  flex-wrap: wrap;
  & > div {
    flex: 1;
    margin: 20px 10px 0;
    & > div > div > div {
      max-width: 600px;
      min-width: 290px;
      margin: 0 auto;
      position: relative;
      & > div:nth-of-type(1) {
        position: relative;
        & > div:nth-of-type(1) {
          position: absolute;
          z-index: 1;
          background-color: var(--sec);
          color: var(--pry);
          opacity: 0.8;
          border-bottom-left-radius: 50%;
          width: 100%;
          text-align: center;
        }
        & > div:nth-of-type(3) {
          margin: -7px 0 0;
          text-align: left;
        }
        & > div:nth-of-type(4) {
          word-wrap: break-word;
          border-radius: 5px;
          display: -webkit-box;
          padding: 5px 0;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      & > div:nth-of-type(2) {
        @include flexCenter(row);
        justify-content: space-between;
        margin-top: 10px;
        padding: 5px 0 0;
      }
    }
  }
}

.members {
  position: fixed;
  top: -20px;
  left: 0;
  height: 100vh;
  z-index: 10001;
  background-color: var(--pry);
  opacity: 0.9;
  overflow-x: hidden;
  overflow-y: auto;
  @include flexCenter(column);
  justify-content: flex-start;
  padding: 20px 0 10px;
  color: var(--sec);
  & > div {
    @include flexCenter(column);
    max-width: 500px;
    & > div {
      @include flexCenter(row);
      justify-content: space-between;
      border-bottom: 1px solid var(--dim);

      & > span {
        @include flexCenter(row);
        width: initial;
        & > *:first-child {
          padding-right: 15px;
        }
      }
    }
    & > div:nth-of-type(odd) {
      border-bottom: 1px solid var(--dim);
    }
  }
}

.crunch {
  & > div:first-of-type > div {
    @include flexCenter(column);

    & > div:first-of-type {
      @include flexCenter(column);
      position: relative;
      align-items: flex-end;
      & > div:nth-of-type(1) {
        align-items: flex-end;
        background-color: var(--textPry);
        position: absolute;
        top: 0px;
        color: var(--pry);
        opacity: 0.6;
        border-bottom-left-radius: 50%;
        width: 100%;
        text-align: center;
        padding: 5px 10px;
      }
      & > img:first-of-type {
        width: 100%;
        height: 150px;
      }
      & > img:last-of-type {
        border: 3px double color(primary);
        height: 50px;
        width: 65px;
        border-radius: 50%;
        position: relative;
        top: -30px;
        left: -20px;
        margin-bottom: -25px;
      }
    }
    & > div:last-of-type {
      @include flexCenter(column);
      margin: -20px 0 0px;
      & > div:nth-of-type(1) {
        align-self: flex-start;
        color: var(--sec);
      }
      & > div:nth-of-type(2) {
        height: 120px;
        overflow-x: hidden;
        overflow-y: auto;
        word-wrap: break-word;
        border: 1px solid var(--textSec);
        border-radius: 5px;
        padding: 5px;
        margin: 10px 0;
        &::-webkit-scrollbar {
          display: none;
        }
        -ms-overflow-style: none;
      }
      & > div:nth-of-type(3) {
        @include flexCenter(row);
        justify-content: space-between;
      }
    }
  }

  & > div:last-of-type {
  }
}

.myViewscape {
  @include flexCenter(row);
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  & > button {
    border-radius: 0;
    height: 70px;
    width: 70px;
  }
  & > div {
    @include flexCenter(column);
    padding: 5px 10px;
    width: initial;
    & > img {
      height: 50px;
      width: 70px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    & > caption {
      font-size: 0.7em;
    }
  }
}

.modifyViewscape {
  @include flexCenter(row);
  flex-wrap: wrap;
  padding: 10px 5px !important;
  margin: 15px 0 10px;
  position: relative;

  & > *:nth-child(2) {
    @include flexCenter(column);
    align-items: flex-end;
    width: fit-content;
    padding: 10px;
    & > div:first-of-type {
      position: relative;
      overflow: hidden;
      img:first-of-type {
        border-radius: 5px;
        width: 100%;
        max-width: 300px;
        height: 170px;
      }
      input:first-of-type {
        position: absolute;
        top: -25px;
        width: 100%;
        height: calc(100% + 25%);
        left: 0;
      }
    }
    & > div:last-of-type {
      border-radius: 50%;
      position: relative;
      top: -35px;
      left: -20px;
      overflow: hidden;
      width: 60px;
      height: 50px;
      margin-bottom: -40px;
      img:last-of-type {
        width: 100%;
        height: 50px;
      }
      input:last-of-type {
        position: absolute;
        top: -25px;
        width: 100px;
        height: calc(70px + 25px);
        left: 0;
      }
    }
  }
  & > div:last-of-type {
    padding: 0 10px;
    @include flexCenter(column);
    & > * {
      margin-bottom: 5px;
      border-radius: 5px;
    }
  }
}

.shareToViewscape {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  @include flexCenter(column);
  justify-content: flex-start;
}

.publish {
  @include flexCenter(column);
  justify-content: flex-start;
  max-width: 1000px !important;
  padding: 20px 10px 10px !important;
  height: 100% !important;
  & > div:nth-of-type(2),
  & > span:nth-of-type(1) {
    margin-top: 10px;
  }
  & > div:nth-of-type(3) {
    border: 1px solid var(--pry);
    @include flexCenter(column);
    justify-content: flex-start;
    padding: 10px;
    margin: 0 0 20px;
    height: 100% !important;
    & > div:last-of-type > * {
      height: 100% !important;
      align-items: flex-start !important;
    }
    border-radius: 5px;
    min-height: calc(100vh - 340px);
    & > span {
      // border: 3px solid red;
      @include flexCenter(column);
      width: initial;
      background-color: var(--dim);
      padding: 5px 10px 10px;
      margin: 10px 0;
      border-radius: 5px;
      min-width: 200px;
      max-width: 400px;
      max-height: 400px;
      & > img {
        max-width: 100%;
        border-radius: 5px;
      }
    }
  }
}

.preview {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  overflow-y: auto;
  background-color: var(--pry);
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  & > div:first-of-type {
    padding: 10px;
    margin: auto;
    max-width: 1000px;
    & > div:nth-of-type(1) {
      margin-bottom: -5px;
      text-align: center;
    }
    & > div:nth-of-type(2) {
      @include flexCenter(row);
      justify-content: space-between;
      flex-wrap: wrap;
      & > span {
        @include flexCenter(row, initial);
      }
    }
    & > button:nth-of-type(1) {
      position: fixed;
      right: 10px;
      top: 49vh;
      z-index: 15;
      padding: 5px !important;
      font-size: 1.5em;
      background-color: color(primary);
    }
    & > article {
      border: 1px solid var(--dim);
      border-radius: 10px;
      padding: 10px;
      margin: 10px 0;
      img {
        display: block;
        margin: 10px auto;
        border-radius: 5px;
        min-width: 200px;
        max-width: 400px;
        max-height: 400px;
      }
      code {
        background: var(--dim);
        border-radius: 10px;
        padding: 5px 10px;
        margin: 5px 0;
        text-align: left;
        page-break-inside: avoid;
        max-width: 100%;
        white-space: pre-wrap;
        display: block;
        word-wrap: break-word;
      }
    }
    & > div:nth-of-type(3) {
      border: 1px solid var(--dim);
      border-radius: 5px;
      padding: 5px;
      margin: 10px auto 20px;
      max-width: 500px;
      & > span:nth-of-type(1) {
        @include flexCenter(row, initial);
        justify-content: flex-start;

        & > div {
          position: relative;
          width: 30px;
          height: 15px;
        }
        & > span {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
          overflow: hidden;
        }
      }
    }

    & > div:nth-of-type(4) {
      text-align: center;
    }
  }
}

@media screen and (min-width: 600px) {
  .crunch {
    & > div:first-of-type > div {
      @include flexCenter(row);
      & > div:first-of-type {
        max-width: 300px;
        & > div:nth-of-type(1) {
          width: 100%;
        }
        & > img:first-of-type {
          width: 100%;
          height: 210px;
        }
        & > img:last-of-type {
          visibility: hidden;
          height: 80px;
          width: 100px;
          position: absolute;
          top: unset;
          left: unset;
          align-self: center;
          margin: auto;
        }
      }
      & > div:first-of-type:hover {
        & > img:first-of-type {
          -webkit-filter: blur(3px);
          filter: blur(3px);
        }
        & > img:last-of-type {
          visibility: visible;
          transform: scale(2.3);
          border: 1px groove color(primary);
        }
      }

      & > div:last-of-type {
        width: 100%;
        justify-content: space-between;
        height: 100%;
        margin: 0;
        padding: 0 10px;
      }
    }
  }
}

@media screen and (min-width: 970px) {
  .crunches > div > div > div > div {
    min-width: 450px;
    max-width: 470px;
  }
}
