@import "@source/_variables.scss";

.chat {
  height: calc(100vh - 50px) !important;
  background-color: var(--pry);
  padding: 0 !important;
  overflow: hidden;
}

.chatList {
  background-color: color(dim);
  position: relative;
  left: 0;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 0 20px 0 0;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  & > div:first-of-type {
    & > div:first-of-type {
      @include flexCenter(row);
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    & > div:last-of-type > * {
      background-color: var(--pry);
    }
  }
  & > div:last-of-type {
    padding: 10px;
    height: stretch;
    .selected > div:last-of-type {
      border-right: 3px solid color(sec);
      border-radius: 3px;
      background-color: var(--pry);
      & > span:last-of-type {
        color: var(--dim);
      }
    }
    & > div {
      @include flexCenter(row);
      justify-content: flex-start;
      width: calc(100% - 10px);
      margin: 10px 0;
      & > div:last-of-type {
        border-bottom: 1px solid var(--pry);
        @include flexCenter(column);
        align-items: flex-start;
        margin-left: 10px;
        & > span {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          word-break: break-all;
          overflow: hidden;
        }
      }
    }
  }
}

.chatContent {
  min-height: 100%;
  padding: 10px;
  border-bottom-right-radius: 50px;
  & > div:nth-of-type(1) {
    position: relative;
    width: 100%;
    height: calc(100% - 450px);
    max-height: 450px;
    min-height: 200px;
    border-radius: 10px;
    overflow: hidden;
  }
  & > div:nth-of-type(2) {
    position: relative;
    margin: -75px auto 0px;
    border: 3px solid var(--pry);
    width: 200px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  & > div:nth-of-type(3) {
    width: fit-content;
    margin-left: -10px;
  }
  & > div:nth-of-type(4) {
    @include flexCenter(column);
    padding: 10px;
    & > * {
      margin: 5px 0;
    }
    & > div:nth-of-type(1) {
      border-radius: 5px;
      @include flexCenter(row);
      flex-wrap: wrap;
      & > span {
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        min-width: 120px;
        text-align: center;
        background-color: color(dim);
      }
    }
  }
}

.chatDiv {
  overflow: auto;
  height: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}

.mobileChatContent {
  @extend .chatDiv;
  position: relative;
  & > button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--pry);
    padding: 5px;
  }
}

@media screen and (min-width: 460px) {
  .chatContent > div:nth-of-type(3) {
    margin: -55px -10px 10px;
  }
}
