@import "@source/_variables.scss";

.layout {
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  background: linear-gradient(to bottom right, var(--pry), var(--sec));

  color: var(--opp);
  font-size: 16px;
  a:link {
    cursor: pointer;
    color: color(secondary);
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: color(secondary);
  }
  a:hover {
    color: darken($color: color(primary), $amount: 10);
    transition-delay: 200ms;
    cursor: pointer;
  }
  a:active {
    text-decoration: none;
    color: color(secondary);
  }
}

.header {
  position: sticky;
  top: 0;
  max-width: 100vw;
  z-index: 100;
  background: var(--pry);
  transition: all 0.5s linear;
  height: 50px;
  padding: 0 10px;
  cursor: pointer;
  @include flexCenter(row);
  justify-content: space-between;
  gap: 20px;
  & > h1 {
    font-size: 2.2em;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Fredericka the Great", cursive;
    text-shadow: 2px 2px 0 var(--dim);
    color: color(primary);
  }
}

.headerHidden {
  @extend .header;
  top: -50px;
}

.footer {
  width: 100%;
  padding: 10px 5px;
  text-align: center;

  & > div:nth-of-type(1) {
    @include flexCenter(row);
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid var(--dim);
    border-bottom: 1px solid var(--dim);
    margin: 15px 0;
    & > span {
      @include flexCenter(row, initial);
      padding: 5px 10px;
      margin: 0 -15px;
      gap: 10px;
    }
  }

  & > div:nth-of-type(2) {
    @include flexCenter(row);
    justify-content: space-evenly;
    & > div:nth-of-type(2) {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--dim);
      border: 3px solid var(--dim);
    }
  }

  & > p {
    margin-top: 10px;
  }
}
