@import "@source/_variables.scss";

.navigation {
  border: 3px solid red;
  @include flexCenter(column);
  justify-content: space-between;
  & > div:nth-of-type(1) {
    padding: 10px;
    & > h2 {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 5px;
    }
    & > div {
      margin-bottom: 40px;
      @include flexCenter(row);
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px 5px;
    }
  }
}

@media screen and (min-width: 960px) {
  .navigation {
    min-height: calc(100vh - 20px);
  }
}
