@import "@source/_variables.scss";

.navigation {
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 50px;
  -ms-overflow-style: none; //hide scrollbar
  overflow: auto;
  max-height: calc(100vh - 55px);
  @include flexCenter(column);
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid var(--dim);
  border-bottom: 1px solid var(--dim);
  padding: 10px;
  & > div:nth-of-type(1) {
    padding: 10px;
    margin-bottom: 10px;
    & > h2 {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 5px;
    }
    & > div {
      @include flexCenter(row);
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 10px 5px;
    }
  }

  & > div:nth-of-type(3) {
    border-top: 1px solid color(secondary);
    padding: 10px 5px 5px;
    @include flexCenter(row);
    justify-content: space-between;
    & > span:first-child {
      @include flexCenter(row);
      width: fit-content;
      cursor: pointer;
      & > *:first-child {
        padding: 0;
        margin: -3px 2px 0 0;
      }
    }
  }
}

.navigation::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 960px) {
  .navigation {
    max-width: 350px;
    min-height: calc(100vh - 55px);
  }
}
