@import "@source/_variables.scss";

.layout {
  // font-size: 18px;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
  & > div:last-of-type {
    width: 100%;
    position: relative;
    height: 100%;
  }
  * {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    img {
      overflow: hidden;
    }
  }

  a:link {
    cursor: pointer;
    color: color(secondary);
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: color(secondary);
  }
  a:hover {
    color: darken($color: color(primary), $amount: 10);
    transition-delay: 200ms;
    cursor: pointer;
  }
  a:active {
    text-decoration: none;
    color: color(secondary);
  }

  // a:hover {
  //   color: var(--sec);
  //   cursor: pointer;
  // }
}

.navbar {
  @include flexCenter(column);
  justify-content: space-between;
  background-color: var(--pry);
  min-width: 240px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  a:link {
    cursor: pointer;
    color: var(--sec);
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: var(--sec);
  }
  a:hover {
    color: var(--sec);
    cursor: pointer;
  }
  a:active {
    text-decoration: none;
    color: var(--sec);
  }
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  & > div:nth-of-type(1) {
    width: 100%;
    & > span:first-of-type {
      @include flexCenter(column);
      margin-bottom: 5px;
      & > div {
        width: 60px;
        max-width: none;
      }
    }
    & > a:first-of-type {
      // display: block;
      & > div:nth-of-type(2) {
        text-align: left;
        padding: 0 0 5px 5px;
      }
    }
    & > div:last-of-type {
      // border: 3px solid red !important;
      border-top: 1px solid color(secondary);
      position: relative;
      z-index: 10000;
      padding: 30px 0;
      width: 100%;
    }
  }
  & > div:nth-of-type(2) {
    border-top: 1px solid color(secondary);
    padding: 10px 5px 5px;
    @include flexCenter(row);
    justify-content: space-between;
    & > span:first-child {
      @include flexCenter(row);
      width: fit-content;
      cursor: pointer;
      & > *:first-child {
        padding: 0;
        margin: -3px 2px 0 0;
      }
    }
  }
}

.header {
  position: absolute;
  top: 0;
  z-index: 3;
  background-color: var(--pry);
  transition: all 0.5s linear;
  height: 50px;
  @include flexCenter(row);
  justify-content: space-between;
  & > div:first-of-type {
    display: flex;
    & > *:nth-child(2) {
      letter-spacing: 2px;
      font-weight: 500;
      font-size: 30px;
      text-shadow: 2px 2px 0 var(--dim);
      color: color(secondary) !important;
    }
  }
}

.headerHidden {
  @extend .header;
  top: -50px;
}

.content {
  height: 100%;
  position: relative;
  padding: 50px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 0px auto max-content;
  background: linear-gradient(to bottom right, var(--pry), var(--dim));
  & > div:first-of-type {
    padding: 0px 10px 10px;
    position: relative;
    height: fit-content;
    margin: auto;
    max-width: 100%;
    // border: 3px solid blue;
  }
}

.footer {
  background-color: var(--pry);
  @include flexCenter(column);
  padding: 10px 5px 5px !important;
  text-align: center;
  & > div:nth-of-type(2) {
    @include flexCenter(row);
    flex-wrap: wrap;
    font-size: 0.8em;
    justify-content: space-evenly;
    border-top: 1px solid var(--dim);
    border-bottom: 1px solid var(--dim);
    margin: 10px 0;
    & > span {
      @include flexCenter(row);
      width: fit-content;
      padding: 5px 10px;
      margin: 0 -15px;
      & > * {
        margin: 0 15px;
      }
    }
    & > img {
      // border: 3px solid red;
      visibility: hidden;
      position: absolute;
      margin: auto;
      width: 40px;
      height: 40px;
      padding: 5px;
      background-color: var(--dim);
      border-radius: 50%;
      border: 3px solid var(--dim);
    }
  }
}

@media screen and (min-width: 600px) {
  .footer > div:nth-of-type(2) {
    & > span {
      width: fit-content;
    }
    & > img {
      visibility: visible;
    }
  }
}

@media screen and (min-width: 400px) {
  .navbar {
    height: 100%;
    min-width: 200px;
  }
}
