@import "@source/_variables.scss";

.home {
  // overflow-y: hidden;

  // border: 3px solid red;
  // & > div:nth-of-type(2) {
  //   @include flexCenter(row);
  //   margin: 50px auto 0;
  //   max-width: 1200px;
  //   min-height: 100vh;
  //   @include flexCenter(row);
  //   justify-content: space-between;
  //   align-items: stretch;
  //   position: static;
  //   & > main {
  //     position: relative;
  //     width: 100%;
  //     min-height: 2000px;
  //     border: 3px solid green;
  //     // max-width: 300px;
  //   }
  //   & > nav {
  //     min-width: 300px;
  //     max-width: 300px;
  //     // position: absolute;
  //     & > div {
  //       position: -webkit-sticky;
  //       position: sticky;
  //       top: 0;
  //       // position: fixed;
  //       width: 300px;
  //       min-height: 400px;
  //     }
  //   }
  // }

  // border-top: 3px solid color(primary);
  // padding: 30px 0;
  // @include flexCenter(row);
  // justify-content: space-evenly;
  // flex-wrap: wrap;
  // background-color: var(--dim);
  // & > div:nth-of-type(1) {
  //   max-width: 500px;
  //   h2 {
  //     font-family: "Playfair Display", serif;
  //     font-size: 4.5em;
  //     font-weight: 600;
  //   }
  //   h3 {
  //     font-family: "Cookie", cursive;
  //   }
  // }
  // & > div:nth-of-type(2) {
  //   height: 100%;
  //   min-width: 300px;
  // }
}
