@import "@source/_variables.scss";

.intro {
  border-top: 3px solid color(primary);
  background-color: var(--dim);
  & > div {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px 30px 10px;
    h2 {
      max-width: 500px;
      font-family: "Playfair Display", serif;
      font-size: 2em;
      z-index: 1;
      position: relative;
    }
    h3 {
      margin: 10px 0 15px;
      position: relative;
      z-index: 1;
      font-family: "Cookie", cursive;
    }
    & > div {
      position: absolute;
      top: 0;
      right: -90px;
      height: 100%;
      width: 300px;
    }
  }
}

@media screen and (min-width: 380px) {
  .intro > div {
    padding: 30px 180px 30px 10px;
    h2 {
      font-size: 2.5em;
      position: relative;
    }
    & > div {
      right: -30px;
    }
  }
}

@media screen and (min-width: 520px) {
  .intro > div {
    padding: 50px 220px 50px 10px;
    h2 {
      font-size: 4em;
      font-weight: 600;
    }
    & > div {
      right: -30px;
      height: 400px;
      width: 400px;
    }
  }
}

@media screen and (min-width: 800px) {
  .intro > div {
    padding: 50px 100px 10px 10px;
    h2 {
      font-size: 4.5em;
      font-weight: 600;
    }
    & > div {
      top: -50px;
      right: 50px;
      height: 500px;
      width: 500px;
    }
  }
}
