@import "@source/_variables.scss";

.primaryBody {
  @include flexCenter(column);
  & > * > a > div {
    @include flexCenter(row);
    align-items: stretch;
    gap: 20px;
    margin-top: 110px;
    position: relative;
    max-width: 550px;
    & > div:first-of-type {
      position: relative;
      z-index: -1;
      position: absolute;
      top: -98px;
      align-self: center;
      height: 100px;
      width: 80%;
      border-radius: 5px 25px 5px 15px;
      overflow: hidden;
    }
    & > div:last-of-type {
      @include flexCenter(column);
      justify-content: space-between;
      align-items: flex-start;
      & > * {
        font-size: 0.5em !important;
      }
      & > *:nth-child(2) {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: left;
        font-size: 1em !important;
        line-height: 1.4em;
      }
      & > div {
        @include flexCenter(row);
        justify-content: flex-start;
        gap: 5px;
        & > span {
          text-align: left;
        }
      }
    }
  }
}

.newsFlash > div {
  @include flexCenter(column);
  padding: 10px !important;
  border: 1px solid var(--dim);
  border-radius: 5px;
  margin: 15px 0 0;
  & > a > div {
    border-bottom: 3px solid color(primary);
    margin: 10px 0;
    @include flexCenter(column);
    & > *:first-child {
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: normal;
      overflow: hidden;
    }
  }
  & > a:nth-child(odd) > div {
    background-color: var(--dim);
    color: #000;
  }
}

.highlight {
  background: linear-gradient(to right, var(--pry), var(--dim));
  border-radius: 20px 5px 15px 10px;
  justify-content: space-evenly;
  @include flexCenter(row);
  padding: 40px 10px;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 15px;
  & > * > a > div {
    @include flexCenter(row);
    justify-content: space-evenly;
    max-width: 320px;
    border-left: 3px solid color(secondary);

    & > div:first-of-type {
      padding: 10px;
      @include flexCenter(column);
      & > span {
        @include flexCenter(row);
        gap: 10px;
      }
      text-align: center;
    }
    & > div:last-of-type {
      position: relative;
      border-radius: 0 5px 5px 0;
      overflow: hidden;
      height: 80px;
      width: 100px;
    }
  }
}

.secBody {
  @include flexCenter(column);
  max-width: 1000px !important;
  & > * > a > div {
    position: relative;
    margin: 5px 0;
    @include flexCenter(column);
    justify-content: flex-start;
    flex-direction: column-reverse;
    & > div:nth-of-type(1) {
      @include flexCenter(column);
      align-items: flex-start;
      overflow: hidden;
      & > *:nth-child(1) {
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.1em;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
      }
      & > *:nth-child(2) {
        text-align: left;
        font-size: 1.1em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: normal;
      }
      & > div {
        @include flexCenter(row);
        justify-content: space-between;
        flex-wrap: wrap;
        & > button {
          padding: 0;
        }
        & > div {
          @include flexCenter(row);
          width: fit-content;
        }
      }
    }
    & > div:nth-of-type(2) {
      border-radius: 5px;
      overflow: hidden;
      height: 150px;
      position: relative;
      width: 100%;
    }
  }
}

@media screen and (min-width: 420px) {
  .primaryBody > * > a > div {
    margin-top: 160px;
    & > div:first-of-type {
      top: -150px;
      height: 150px;
    }
    & > div:last-of-type {
      & > * {
        font-size: 0.7em !important;
      }
      & > *:nth-child(2) {
        font-size: 1.2em !important;
      }
    }
  }
  .secBody {
    & > * > a > div {
      @include flexCenter(row);
      align-items: stretch;
      & > div:nth-of-type(1) {
        justify-content: space-between;
        padding-right: 5px;
      }
      & > div:nth-of-type(2) {
        width: 200px;
        max-height: 140px;
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .primaryBody > * > a > div {
    margin: 10px 0 0;
    max-width: 700px;
    & > div:first-of-type {
      z-index: initial;
      position: relative;
      top: 0;
      height: 170px;
      width: 100%;
      max-width: 220px;
    }
    & > div:last-of-type {
      & > * {
        font-size: 0.9em !important;
      }
      & > *:nth-child(2) {
        font-size: 1.4em !important;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .primaryBody > * > a > div {
    max-width: 900px;
  }
}
