@import "@source/_variables.scss";

.primaryBody {
  @include flexCenter(column);
  & > * > a > div {
    @include flexCenter(row);
    align-items: stretch;
    margin-top: 10px;
    position: relative;
    padding: 15px 10px;
    & > div:first-of-type {
      width: 80%;
      z-index: -1;
      display: none;
      overflow: hidden;
      align-self: center;
      position: absolute;
      border-radius: 5px 25px 5px 15px;
    }
    & > div:last-of-type {
      @include flexCenter(column);
      justify-content: space-between;
      align-items: flex-start;
      & > * {
        font-size: 0.5em !important;
      }
      & > *:nth-child(2) {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: left;
        font-size: 1em !important;
        line-height: 1.4em;
      }
      & > div {
        @include flexCenter(row);
        justify-content: flex-start;
        gap: 5px;
        & > span {
          text-align: left;
        }
      }
    }
  }
}

.highlight {
  background: linear-gradient(to right, var(--pry), var(--dim));
  border-radius: 20px 5px 15px 10px;
  justify-content: space-evenly;
  @include flexCenter(row);
  padding: 10px;
  flex-wrap: wrap;
  margin: -5px auto 5px;
  gap: 15px;
  & > * > a > div {
    @include flexCenter(row);
    justify-content: space-evenly;
    max-width: 320px;
    border-left: 3px solid color(secondary);
    & > div:first-of-type {
      @include flexCenter(column);
      & > span {
        @include flexCenter(row);
        gap: 10px;
      }
      & > p {
        text-align: center;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
      }
    }
    & > div:last-of-type {
      position: relative;
      border-radius: 0 5px 5px 0;
      overflow: hidden;
      height: 60px;
      width: 80px;
    }
  }
}

.secBody {
  @include flexCenter(column);
  max-width: 1000px !important;
  & > * > a > div {
    position: relative;
    margin: 5px 0;
    @include flexCenter(column);
    justify-content: flex-start;
    flex-direction: column-reverse;
    & > div:nth-of-type(1) {
      @include flexCenter(column);
      align-items: flex-start;
      overflow: hidden;
      & > *:nth-child(1) {
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.1em;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
        overflow: hidden;
      }
      & > *:nth-child(2) {
        text-align: left;
        font-size: 0.9em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        word-break: normal;
        margin: 5px auto 10px;
      }
      & > div {
        @include flexCenter(row);
        justify-content: space-between;
        flex-wrap: wrap;
        & > button {
          padding: 0;
        }
        & > div {
          @include flexCenter(row);
          width: fit-content;
        }
      }
    }
    & > div:nth-of-type(2) {
      border-radius: 5px;
      overflow: hidden;
      height: 150px;
      position: relative;
      width: 100%;
    }
  }
}

@media screen and (min-width: 420px) {
  .primaryBody > * > a > div {
    padding: 5px;
    margin: 10px 0 0;
    & > div:first-of-type {
      margin-right: 10px;
      display: unset;
      height: 120px;
      width: 100%;
      max-width: 150px;
      z-index: initial;
      position: relative;
    }
    & > div:last-of-type {
      & > * {
        font-size: 0.7em !important;
      }
      & > *:nth-child(2) {
        font-size: 1.2em !important;
      }
    }
  }
  .secBody {
    & > * > a > div {
      @include flexCenter(row);
      align-items: stretch;
      & > div:nth-of-type(1) {
        justify-content: space-between;
        padding-right: 5px;
      }
      & > div:nth-of-type(2) {
        width: 200px;
        max-height: 120px;
      }
    }
  }
  .highlight {
    padding: 40px 10px;
    margin: 20px 0;
    & > * > a > div {
      & > div:first-of-type {
        padding: 10px;
      }
      & > div:last-of-type {
        height: 80px;
        width: 100px;
      }
    }
  }
}

@media screen and (min-width: 660px) {
  .primaryBody > * > a > div {
    max-width: 700px;
    & > div:first-of-type {
      height: 170px;
      max-width: 220px;
    }
    & > div:last-of-type {
      & > * {
        font-size: 0.9em !important;
      }
      & > *:nth-child(2) {
        font-size: 1.4em !important;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .primaryBody > * > a > div {
    max-width: 900px;
  }
  .newsFlash > a > div {
    margin: 20px auto;
  }
}
