@import "@source/_variables.scss";

.news {
  @include flexCenter(column);
  justify-content: flex-start;
  height: 100% !important;
  max-width: 800px;
  & > div:nth-child(1) > * > * {
    font-size: 0.8em;
  }
  & > div:nth-child(2) {
    @include flexCenter(column);
    & > div {
      border-left: 1px solid transparent;
      border-image: linear-gradient(to bottom, color(primary), var(--dim), color(secondary));
      border-image-slice: 1;
      margin-bottom: 10px;
      font-size: 1.1em;
    }
  }
}
