@import "@source/_variables.scss";

.news {
  @include flexCenter(column);
  justify-content: flex-start;
  height: 100% !important;
  max-width: 800px;
  & > div:last-child {
    @include flexCenter(column);
    & > span {
      border-bottom: 1px solid transparent;
      border-image: linear-gradient(to right, color(primary), var(--dim), color(secondary));
      border-image-slice: 1;
      margin-bottom: 10px;
    }
  }
}
