@import "@source/_variables.scss";

.intro {
  border-top: 3px solid color(primary);
  background-color: var(--pry);
  padding-top: 30px;
  & > div {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px 30px 10px;
    h2 {
      font-family: "Fredericka the Great", cursive;
      max-width: 500px;
      z-index: 1;
      position: relative;
    }
    h3 {
      font-family: "Fredericka the Great", cursive;
      margin: 10px 0 15px;
      position: relative;
      z-index: 1;
    }

    & > div {
      display: none;
    }
  }
}

.trending {
  padding: 10px;
  & > div:nth-of-type(1) {
    margin: 20px 0 10px 10px;
    @include flexCenter(row);
    justify-content: flex-start;
    h2 {
      font-family: "Fredericka the Great", cursive;
      font-size: 1.1em;
      font-weight: 600;
      margin-left: 5px;
    }
  }
  & > div:nth-of-type(2),
  & > div:nth-of-type(3),
  & > div:nth-of-type(4),
  & > div:nth-of-type(5),
  & > div:nth-of-type(6),
  & > div:nth-of-type(7) {
    @include flexCenter(row);
    align-items: flex-start;
    padding: 10px;
    & > span {
      font-family: "Fredericka the Great", cursive;
      font-size: 2em;
      color: var(--dim);
      margin: -4px 10px 0 0;
    }
    & > div {
      @include flexCenter(column);
      align-items: flex-start;
      margin-bottom: 10px;
      & > h2 {
        margin: 5px 0 10px;
        font-size: 1.2em;
        font-weight: 700;
        a {
          color: var(--opp);
        }
      }
    }
  }
}

.nav {
  margin-bottom: 10px;
  & > h2 {
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: "Fredericka the Great", cursive;
  }
  & > div {
    @include flexCenter(row);
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 5px;
  }
}

@media screen and (min-width: 380px) {
  .intro > div {
    padding: 30px 180px 30px 10px;
    h2 {
      font-size: 3.5em;
    }
    & > div {
      display: unset;
      position: absolute;
      top: 20px;
      height: 400px;
      width: 350px;
      right: -50px;
    }
  }
}

@media screen and (min-width: 520px) {
  .intro > div {
    padding: 30px 210px 30px 10px;
    h2 {
      font-size: 4em;
    }
    & > div {
      top: 40px;
      right: -30px;
    }
  }
}
@media screen and (min-width: 607px) {
  .intro > div > div {
    top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .intro > div > div {
    left: 700px;
  }
}

// @media screen and (min-width: 800px) {
//   .intro > div {
//     padding: 50px 100px 10px 10px;
//     & > div {
//       top: -50px;
//       right: 50px;
//       height: 500px;
//       width: 500px;
//     }
//   }
// }
