@import "@source/_variables.scss";

.intro {
  border-top: 3px solid color(primary);
  background-color: var(--dim);
  padding-top: 30px;
  & > div {
    overflow: hidden;
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 30px 20px 30px 10px;
    h2 {
      font-family: "Fredericka the Great", cursive;
      max-width: 500px;
      z-index: 1;
      position: relative;
    }
    h3 {
      font-family: "Fredericka the Great", cursive;
      margin: 10px 0 15px;
      position: relative;
      z-index: 1;
    }
    & > div {
      position: absolute;
      top: 0;
      right: -90px;
      height: 100%;
      width: 300px;
    }
  }
}

.trending {
  padding: 10px;
  & > div:nth-of-type(1) {
    margin: 20px 0 10px 10px;
    @include flexCenter(row);
    justify-content: flex-start;
    h2 {
      font-family: "Fredericka the Great", cursive;
      font-size: 1.1em;
      font-weight: 600;
      margin-left: 5px;
    }
  }
  & > div:nth-of-type(2),
  & > div:nth-of-type(3),
  & > div:nth-of-type(4),
  & > div:nth-of-type(5),
  & > div:nth-of-type(6),
  & > div:nth-of-type(7) {
    @include flexCenter(row);
    align-items: flex-start;
    padding: 10px;
    & > span {
      font-family: "Fredericka the Great", cursive;
      font-size: 2em;
      color: var(--dim);
      margin: -4px 10px 0 0;
    }
    & > div {
      @include flexCenter(column);
      align-items: flex-start;
      margin-bottom: 10px;
      & > h2 {
        margin: 5px 0 10px;
        font-size: 1.2em;
        font-weight: 700;
        a {
          color: var(--opp);
        }
      }
    }
  }
}

.nav {
  padding: 10px;
  margin-bottom: 10px;
  & > h2 {
    font-weight: 700;
    margin-bottom: 5px;
  }
  & > div {
    @include flexCenter(row);
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px 5px;
  }
}

.news {
  padding: 10px;
  margin: 0 auto 15px;
  max-width: 600px;
  & > h2 {
    font-family: "Fredericka the Great", cursive;
    text-align: center;
    font-size: 1.7em;
  }

  & > div {
    @include flexCenter(column);
    border-left: 2px solid color(primary);
    margin: 10px auto;
    border-radius: 3px !important;
    @include flexCenter(column);
    & > a {
      color: var(--opp) !important;
      font-weight: 600;
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-break: normal;
      overflow: hidden;
    }
  }
  & > div:hover {
    border-left: 2px solid color(secondary);
  }
}

@media screen and (min-width: 380px) {
  .intro > div {
    padding: 30px 180px 30px 10px;
    h2 {
      font-size: 3.5em;
      position: relative;
    }
    & > div {
      right: -30px;
    }
  }
}

@media screen and (min-width: 520px) {
  .intro > div {
    padding: 50px 220px 50px 10px;
    h2 {
      font-size: 4em;
      font-weight: 600;
    }
    & > div {
      right: -30px;
      height: 400px;
      width: 400px;
    }
  }
}

@media screen and (min-width: 800px) {
  .intro > div {
    padding: 50px 100px 10px 10px;
    & > div {
      top: -50px;
      right: 50px;
      height: 500px;
      width: 500px;
    }
  }
}
