@import "@source/_variables.scss";

.views {
  padding: 10px;
  & > h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.9em;
    color: color(primary);
  }

  & > div:nth-of-type(1) {
    .view {
      padding: 0;
      margin: 30px 0;
      overflow: hidden;
      & > div:nth-of-type(1) {
        @include flexCenter(row);
        justify-content: space-between;
        align-items: stretch;
        & > div:nth-of-type(1) {
          padding: 5px;
          flex: 1;
          @include flexCenter(column);
          justify-content: space-between;
          align-items: flex-start;
          & > div:nth-of-type(1) {
            margin: 0;
            @include flexCenter(row, initial);
            & > div {
              position: relative;
              margin-right: 5px !important;
              border-radius: 50%;
              overflow: hidden;
              height: 15px;
              width: 15px;
            }
            & > p {
              text-align: left;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
          h2 > a {
            color: var(--sec) !important;
            text-align: left;
            font-weight: bold;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          & > p {
            font-size: 1.2em;
            line-height: 1.1;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
        & > div:nth-of-type(2) {
          position: relative;
          width: 90px;
          height: 100px;
        }
      }

      .footer {
        margin-top: 7px;
        @include flexCenter(row);
        justify-content: space-between;
        padding: 0 5px;
        p {
          font-family: "Playfair Display", serif;
          line-height: 1;
          text-align: left;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          word-break: break-all;
          overflow: hidden;
        }
      }
    }
  }
}

@media screen and (min-width: 401px) {
  .view > div:nth-of-type(1) > div:nth-of-type(2) {
    height: 140px !important;
    width: 150px;
  }
}
