@import "@source/_variables.scss";

.profile {
  @include flexCenter(column);
  justify-content: flex-start;
  padding: 0 0 30px !important;
  height: 100% !important;
  & > div:first-of-type {
    & > div:first-of-type {
      height: 15vh;
      min-height: 100px !important;
      max-height: 300px !important;
    }
    & > div:last-of-type {
      border-color: color(dim);
    }
  }
}

.myIntro {
  @include flexCenter(column);
  padding: 10px 5px;
  & > div:nth-of-type(1) {
    @include flexCenter(column);
    background-color: color(dim);
    padding: 0 10px 5px;
    & > button:nth-of-type(1) {
      margin-bottom: -15px;
    }
    & > div:nth-of-type(1) {
      align-self: flex-start;
    }
    & > div:nth-of-type(2) {
      margin: 20px 0 10px;
    }
    & > div:nth-of-type(3) {
      align-self: flex-end;
    }
  }
  & > div:nth-of-type(2) {
    @include flexCenter(column);
    background-color: color(dim);
    margin: 10px 0;
    padding: 10px;
    & > span:nth-of-type(1) {
      align-self: flex-start;
    }
    & > span:nth-of-type(2),
    & > span:nth-of-type(3),
    & > span:nth-of-type(4) {
      @include flexCenter(column, initial);
      & > svg {
        margin: 7px 0 -25px;
      }
    }
  }
  & > div:nth-of-type(3) {
    background-color: color(dim);
    width: 100%;
    & > div {
      // border: 3px solid green;
      // @include flexCenter(column);
      // border-radius: 10px;
      padding: 10px 0;
      // & > div {
      @include flexCenter(row);
      justify-content: space-evenly;
      flex-wrap: wrap;
      & > div {
        margin: 10px 5px;
      }
      // }
    }

    & > span {
      @include flexCenter(column);
      a {
        color: var(--sec);
        margin: 5px 0;
      }
    }
  }

  // & > div:nth-of-type(2) {
  // }
  // .profileAction {
  //   @include flexCenter(column);
  //   padding: 10px;
  //   & > div:first-child {
  //     margin: 10px 0 5px;
  //   }
  //   // border: 3px solid red;
  // }
}

.myArticles {
  @include flexCenter(column);
  padding-bottom: 10px;
  max-width: 1000px;
  .accordionStyle {
    @include flexCenter(column);
    & > div:first-child {
      position: relative;
      overflow: hidden;
      min-width: 200px;
      height: 150px;
      border-radius: 10px;
    }
    & > div:nth-of-type(2) {
      @include flexCenter(column);
      justify-content: space-between;
      flex-wrap: wrap;
      & > *:nth-child(1) {
        word-break: break-all;
      }
      & > *:nth-child(2) {
        @include flexCenter(row);
        justify-content: space-between;
        & > span {
          @include flexCenter(row);
          width: initial;
        }
      }
    }
    & > div:nth-of-type(3) {
      border-top: 1px solid color(dim);
      @include flexCenter(row);
    }
  }
}

@media screen and (min-width: 600px) {
  .myArticles {
    .accordionStyle {
      @include flexCenter(row);
      justify-content: space-between;
      & > div:nth-of-type(2) {
        height: 100%;
        padding: 0 5px;
        @include flexCenter(column, initial);
        justify-content: space-between;
        & > span {
          @include flexCenter(row);
          justify-content: space-between;
        }
      }
      & > div:nth-of-type(3) {
        border: none;
        border-left: 1px solid color(dim);
        @include flexCenter(column);
        justify-content: space-between;
        align-self: stretch;
        width: initial;
      }
    }
  }
}
