@import "@source/_variables.scss";

.profile {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  max-width: 100vw !important;
  & > div:first-child {
    background-color: var(--pry);
    border-top: 3px ridge var(--dim);
    margin: auto !important;
    & > div > div > * {
      margin: auto !important;
    }
  }
}

.myIntro {
  @include flexCenter(column);
  padding: 10px 5px;
  & > div:nth-of-type(1) {
    @include flexCenter(column);
    padding: 0 10px 5px;
    & > div:nth-of-type(1) {
      @include flexCenter(column);
      margin-top: 10px;
      padding-bottom: 55px;
      overflow: hidden;
      height: 200px;
      & > div:nth-child(1) {
        position: relative;
        top: 55px;
        z-index: 1;
        left: -84px;
      }
      & > div:nth-child(2) {
        margin-bottom: 5px;
        z-index: 2;
      }
    }
    & > div:nth-of-type(2) {
      align-self: flex-start;
    }
    & > div:nth-of-type(3) {
      margin: 20px 0 10px;
    }
    & > div:nth-of-type(4) {
      align-self: flex-end;
    }
  }

  & > div:nth-of-type(2) {
    @include flexCenter(column);
    margin: 10px 0;
    padding: 10px;
    & > span:nth-of-type(1) {
      align-self: flex-start;
    }
    & > span:nth-of-type(2),
    & > span:nth-of-type(3),
    & > span:nth-of-type(4) {
      @include flexCenter(column, initial);
      & > svg {
        margin: 7px 0 -25px;
      }
    }
  }

  & > div:nth-of-type(3) {
    @include flexCenter(column);
    & > div {
      @include flexCenter(column);
      & > span {
        margin: 0 0 10px;
        padding: 5px;
        border-radius: 5px;
        @include flexCenter(row);
        justify-content: space-evenly;
        flex-wrap: wrap;
        & > div {
          margin: 10px 5px;
        }
      }
    }

    & > span {
      @include flexCenter(column);
      a {
        color: var(--sec);
        margin: 5px 0;
      }
    }
  }
}

.myArticles {
  padding: 10px 5px;
  @include flexCenter(column);
  height: 100% !important;
  & > div {
    width: 100%;
  }
  .accordionStyle {
    @include flexCenter(column);
    & > div:first-child {
      position: relative;
      overflow: hidden;
      min-width: 250px;
      height: 150px;
      border-radius: 10px;
    }
    & > div:nth-of-type(2) {
      @include flexCenter(column);
      justify-content: space-between;
      flex-wrap: wrap;
      & > *:nth-child(1) {
        word-break: break-all;
      }
      & > *:nth-child(2) {
        @include flexCenter(row);
        justify-content: space-between;
        & > span {
          @include flexCenter(row);
          width: initial;
        }
      }
    }
    & > div:nth-of-type(3) {
      border-top: 1px solid var(--dim);
      @include flexCenter(row);
    }
  }
}

@media screen and (min-width: 600px) {
  .myArticles {
    .accordionStyle {
      @include flexCenter(row);
      justify-content: space-between;
      & > div:nth-of-type(2) {
        height: 100%;
        padding: 0 5px;
        @include flexCenter(column, initial);
        justify-content: space-between;
        & > span {
          @include flexCenter(row);
          justify-content: space-between;
        }
      }
      & > div:nth-of-type(3) {
        border: none;
        border-left: 1px solid var(--dim);
        @include flexCenter(column);
        justify-content: space-between;
        align-self: stretch;
        width: initial;
      }
    }
  }
}
