@import "@source/_variables.scss";

.favourite {
  background: linear-gradient(to bottom right, var(--pry), var(--dim));
  height: calc(100vh - 50px) !important;
  padding: 0 !important;
  overflow: hidden;
  & > div:nth-of-type(1) {
    height: 100% !important;
    @include flexCenter(column);
    justify-content: flex-start;
    position: relative;
    padding: 10px !important;
    & > div:last-of-type {
      margin-top: 10px;
      border: 1px solid var(--dim);
      border-radius: 5px;
      z-index: 1;
      overflow: auto;
      width: 100%;
      max-width: 700px;
      height: 100%;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
    }
  }

  & > div:nth-of-type(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: color(dim);
    border-bottom-right-radius: 100%;
  }
  & > div:nth-of-type(1)::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: var(--pry);
    border-top-left-radius: 100%;
  }

  & > div:nth-of-type(2) {
    height: 100% !important;
    background: linear-gradient(to bottom right, color(dim), var(--pry));
    position: relative;
    & > div {
      position: relative;
      width: calc(100% - 100px);
      height: 100%;
      z-index: 1;
    }
  }
  & > div:nth-of-type(2)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0%, 50% 0, 70% 30%);
    background-color: var(--pry);
  }
  & > div:nth-of-type(2)::after {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 85%, 85% 100%, 100% 100%);
    background-color: color(dim);
    content: "";
  }
}
