@import "@source/_variables.scss";

.view {
  padding: 10px;
  & > div:nth-of-type(1) {
    & > h1 {
      margin: 0;
      font-size: calc(2em + 1vw);
      font-family: "Fredericka the Great", cursive;
      text-align: center;
      border-bottom: 1px solid color(primary);
    }
    & > div:nth-of-type(1) {
      margin: 10px 0;
      @include flexCenter(row);
      justify-content: flex-start;
      & > div:last-of-type {
        font-size: 0.8em;
        p {
          font-size: 0.9em;
        }
      }
    }
  }
  & > div:nth-of-type(2) {
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
    line-height: 1.55;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }
    iframe {
      display: block;
      border-radius: 5px;
      margin: auto;
    }
    img {
      display: block;
      margin: 10px auto;
      border-radius: 5px;
      min-width: 200px;
      max-width: 100%;
      max-height: 300px;
    }
    code,
    pre {
      background: var(--pry);
      border-radius: 5px;
      padding: 5px;
      margin: 5px 0;
      text-align: left;
      page-break-inside: avoid;
      max-width: 100%;
      white-space: pre-wrap;
      display: block;
      word-wrap: break-word;
    }
  }
  & > div:nth-of-type(3) {
    @include flexCenter(row);
    justify-content: space-between;
    margin: 10px auto;
    position: relative;
    & > span {
      @include flexCenter(row, fit-content);
      border: 1px solid var(--dim);
      border-radius: 10px;
      margin-left: 5px;
      & > button {
        // color: red;
        padding: 5px 7px;
        font-size: 1.3em !important;
      }
      border: 3px solid red;
    }
    border: 3px solid red;
    & > div:first-of-type {
      @include flexCenter(row);
      width: fit-content;
      & > button {
        padding: 5px;
      }
      & > span {
        font-size: 0.8em;
        margin: 0 5px 0 3px;
      }
    }
    & > div:last-of-type {
      margin: -240px -10px 0 0;
      // color: red;
      & > button {
        background-color: var(--sec);
        color: var(--opp);
        height: max-content;
        width: max-content;
        margin: 0 !important;
        // position: absolute;
        border: 3px solid red;
      }
    }
  }
}

.nav {
  padding: 10px;
  @include flexCenter(column);
  & > div:nth-of-type(1) {
    position: relative;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  & > div:nth-of-type(2) {
    margin: 15px 0;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
  }
  & > div:nth-of-type(3) > a {
    padding: 10px;
    border: 1px solid var(--dim);
    margin: 30px 0;
    border-radius: 10px;
    @include flexCenter(column);
    text-align: center;
    & > div:nth-of-type(1) {
      position: relative;
      height: 150px;
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  & > div:nth-of-type(3) > a:hover {
    border-color: color(primary);
  }
}
