@import "@source/_variables.scss";

.view {
  // border: 3px solid blue;
  padding: 10px;
  // background: linear-gradient(to bottom right, var(--pry), var(--dim));
  // background-color: var(--sec) !important;
  & > div:nth-of-type(1) {
    & > h1 {
      margin: 0;
      font-family: "Fredericka the Great", cursive;
      font-size: calc(2em + 1vw) !important;
      text-align: center;
      border-bottom: 1px solid color(primary);
    }
    & > div:nth-of-type(1) {
      @include flexCenter(row);
      justify-content: flex-start;
      padding: 5px 0;
    }
  }
  & > article {
    font-size: 1.3em;
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
    background-color: var(--pry);
    border: 3px solid red;
    line-height: 2em;
    line-height: 1.6em;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }
    iframe {
      display: block;
      border-radius: 5px;
      margin: auto;
    }
    img {
      display: block;
      margin: 10px auto;
      border-radius: 5px;
      min-width: 200px;
      max-width: 100%;
      max-height: 300px;
    }
    code {
      background: var(--dim);
      border-radius: 10px;
      padding: 5px 10px;
      margin: 5px 0;
      text-align: left;
      page-break-inside: avoid;
      max-width: 100%;
      white-space: pre-wrap;
      display: block;
      word-wrap: break-word;
    }
  }
  & > div:nth-of-type(2) {
    padding: 0 !important;
    & > div:nth-of-type(1) {
      @include flexCenter(row);
      justify-content: space-between;
      margin: 5px 0;
      & > span {
        @include flexCenter(row);
        width: fit-content;
        border: 1px solid var(--dim);
        border-radius: 10px;
        margin-left: 5px;
        & > button {
          padding: 5px 7px;
          font-size: 1.3em !important;
        }
      }
      & > div {
        @include flexCenter(row);
        width: fit-content;
        & > button {
          padding: 5px;
        }
        & > span {
          font-size: 0.8em;
          margin: 0 5px 0 3px;
        }
      }
    }
  }
}

.storyNav {
  max-width: 400px;
  & > div:nth-of-type(1) {
    @include flexCenter(column);
    padding: 10px;
    & > div:nth-of-type(1) {
      margin: 0 auto;
      height: 150px;
      width: 150px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
    }
    & > div:nth-of-type(2) {
      margin: 15px 0;
      font-weight: bold;
      font-size: 0.8em;
      text-align: center;
    }
    & > div:nth-of-type(4) {
      align-items: flex-start;
      margin: 20px 0;
      width: 100%;
      & > a {
        font-size: 0.9em;
        display: block;
      }
      & > * {
        margin: 5px 0;
      }
    }
  }
  & > div:nth-of-type(2) {
    margin: 30px 0;
    @include flexCenter(column);
    text-align: center;
    & > a > * {
      margin: 5px 0;
    }
    & > a > div:nth-of-type(2) {
      margin: 10px auto;
      width: 200px;
      height: 200px;
      overflow: hidden;
      position: relative;
      border-radius: 10px;
    }
  }

  & > div:nth-of-type(3) {
    @include flexCenter(column);
    & > span {
      align-self: start;
    }
    & > a {
      width: 100%;
      padding: 5px;
      border-radius: 5px;
      text-align: center;
      margin: 10px auto 0;
      & > div {
        margin: auto;
        position: relative;
        max-width: 200px;
        height: 120px;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }
}

@media screen and (min-width: 420px) {
  .storyMain {
    padding: 10px !important;
  }
  .storyHeader {
    margin-bottom: -35px !important;
  }
}

@media screen and (min-width: 1280px) {
  .storyHeader {
    margin-bottom: -20px !important;
  }
}
