$fontColors: (
  // "pry": #c28c17,
  "primary": #b8860b,
  "secondary": #1197c0,
  "light": #b1b1b18a,
  // "dark": #252635,
  // "success": rgb(24, 185, 24),
  // "error": #b91818,,,,,
);

@function color($color) {
  @return map-get($fontColors, $color);
}

@mixin flexCenter($direction, $width: 100%) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  width: $width;
}
