$fontColors: (
  // "primary": #b8860b,
  "primary": #e2ad26,
  "secondary": #1197c0
);

@function color($color) {
  @return map-get($fontColors, $color);
}

@mixin flexCenter($direction, $width: 100%) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  width: $width;
}
